[contenteditable] {
  outline: 0px solid transparent;
}

.lurk-code-component {
  position: relative;
}

.main{
  width: 600px;
}

#output-container {
  display: none;
}

.button {
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 15px;
  border-color: transparent transparent transparent #868686;
  transition: 100ms all ease;
  cursor: pointer;
  border-style: solid;
  border-width: 8px 0 8px 15px;
  position: absolute;
  top: 7px;
  right: -6px;
}

.button:hover {
  border-color: transparent transparent transparent #404040;
}
